# Python runtime
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Environment files
.env
.env.*

# Logs & temp
*.log
*.tmp
*.pid
*.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
